<h2>Lista de Jogadores</h2>
<div class="add-player-container">
  <input type="text" [(ngModel)]="newPlayerName" placeholder="Novo jogador" />
  <button (click)="addPlayer()">Adicionar</button>
</div>

<div *ngIf="selectedPlayer">
  <h3>{{ selectedPlayer.playerName }}</h3>
  <p>Pontuação Total: {{ totalScore }}</p>
  <button (click)="viewPlayerStatistics(selectedPlayer.playerName)" class="stats-button">Ver Estatísticas</button>
</div>

<ul>
  <li *ngFor="let player of players">
    <a href="#" (click)="selectPlayer(player); $event.preventDefault()">
      {{ player.playerName }}
    </a>
  </li>
</ul>

<div *ngIf="playerStatistics" class="player-stats-modal">
  <h3>Estatísticas de {{ playerStatistics.playerName }}</h3>
  <p>Partidas jogadas: {{ playerStatistics.gamesPlayed }}</p>
  <p>Média de Pontuação: {{ playerStatistics.averageScore | number:'1.0-2' }}</p>
  <p>Maior Pontuação: {{ playerStatistics.highestScore }}</p>
  <p>Menor Pontuação: {{ playerStatistics.lowestScore }}</p>
  <p>Recordes batidos: {{ playerStatistics.recordBrokenCount }}</p>
  <p>Tempo jogando: {{ playerStatistics.timePlaying }}</p>
  <button (click)="closePlayerStatistics()">Fechar</button>
</div>
